.header 
{
    opacity: 0.9;
    position: relative; 
    font-family: "Lato", sans-serif;

}

.pb-8,
.py-8 {
      padding-bottom: 8rem !important; }
    
.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pt-lg-8,
.py-lg-8 {
  padding-top: 8rem !important; }

.d-flex {
    display: flex !important; 
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}

.align-items-center {
        align-items: center !important; }

.mask {
    /* filter: blur(3px);
    -webkit-filter: blur(3px); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease; }
        @media (prefers-reduced-motion: reduce) {
            .mask {
                transition: none; } }

  .bg-gradient-default {

  }
.opacity-8 {
    opacity: 0.3 !important; }
      
.opacity-8 {
    opacity: .9 !important; }

.display-2 {
    font-size: 40px;
     font-weight: 600;
    line-height: 1.5; 
    display: block;
    font-weight: 900;
}

.text-white {
    color: #fff !important; 
    line-height: 1.5;
font-style: normal;}


.mt-0,
.my-0 {
     margin-top: 0 !important; }

.mb-5,
.my-5 {
       margin-bottom: 3rem !important; }

       main{
           padding-top: 0;
       }
.margin-left{
    margin-left:100px;
    line-height: 1.8;
    font-size: 15px;
}