img.ui.avatar.image{
    width: 45px;
    height: 45px;
}

.header.post-header{
    font-size: medium;
}
time{
    font-size: medium;
}

.card-cont{
    padding:50px 30px;
    font-family: "Lato", sans-serif;

}

.card-cont .header{
    font-size: 20px;
}

.card-cont .description{
    font-size: 15px
}